@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {

  color: #222;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  transition: all 0.3s ease 0s;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.app {
  gap: 4rem;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  border: none;
  color: inherit;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  font-family: inherit;
  padding: 1.6rem 3.2rem;
  text-transform: capitalize;
  background-color: #949c96;
  transition: all 0.2s ease 0s;
}

input:focus {
  scale: 1.2;
  background-color: #a0b9a3;
  outline: 2px solid #ffffff;
  transition: all 0.2s ease 0s;
}

.day {
  gap: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
  padding: 1.6rem 2rem;
  flex-direction: column;
  background-color: #ffffff;
}

.day span {
  font-size: 5.2rem;
}

.loader {
  font-weight: 700;
  font-size: 2.4rem;
}
.title {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
.title span {
  text-decoration: line-through;
}
